// Colors
color-background = #fff
color-mobile-nav-background = #191919
//Fonts
font-icon = FontAwesome
font-icon-path = "fonts/fontawesome-webfont"
font-icon-version = "4.7.0"
// Layout
mobile-nav-width = 280px
// Media queries
mq-mobile = "screen and (max-width: 580px)"
