@import 'theme.css'
@import 'site'

.clearfix:after
    content " "
    display block
    clear both

.entry-content
  ul, ol
    margin 0 0 1em 3em

  ul ul, ol ol, ul ol, ol ul
    margin-top 0
    margin-bottom 0

  h1, h2, h3, h4, h5
    margin-bottom 0.5em

.split
  .left, .right
    width 45%
    padding 1%

  .left
    float left
  .right
    float right

.manifest
  margin-bottom 60px

  em
    font-size 0.7em


.person
  padding-bottom 1em

  .pic
    width 150px
    display table-cell
    vertical-align middle
    text-align center

    img
      width 120px

    .split &, .split & img
      width 100px

  p
    display table-cell
    padding 0 5%
    text-align  justify

