@import 'theme.css'
@import "_variables"
@import 'site'

global-reset()

@font-face
  font-family: FontAwesome
  font-style: normal
  font-weight: normal
  src: url(font-icon-path + ".eot?v=" + font-icon-version)
  src: url(font-icon-path + ".eot?#iefix&v=" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff2?v=" + font-icon-version) format("woff2"),
       url(font-icon-path + ".woff?v=" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg?v=" + font-icon-version + "#fontawesomeregular") format("svg")

.clearfix:after
    content " "
    display block
    clear both

.entry-content
  ul, ol
    margin 0 0 1em 3em

  ul ul, ol ol, ul ol, ol ul
    margin-top 0
    margin-bottom 0

  h1, h2, h3, h4, h5
    margin-bottom 0.5em

  select
    height 35px
    margin-bottom 9px

  input
    height 35px
    padding-left 8px

.split
  .left, .right
    width 45%
    padding 1%

  .left
    float left
  .right
    float right

.manifest
  margin-bottom 60px

  em
    font-size 0.7em


.person
  padding-bottom 1em

  .pic
    width 150px
    display table-cell
    vertical-align middle
    text-align center

    img
      width 120px

    .split &, .split & img
      width 100px

  p
    display table-cell
    padding 0 5%
    text-align  justify
