---
title: Reach Us
---

.center
  p
    a.white-button(href='mailto:info@bitembassy.org') Contact
    = ' '
    a.white-button(href='donate') Donate

  p Ahuzat Bayit Street, 1<br>Tel Aviv

  iframe(src='https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3381.168992160311!2d34.7704751!3d32.064677700000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4c9ccdbe516d%3A0x4d9c7e6a98430871!2sAhuzat+Bayit+St+1!5e0!3m2!1sen!2s!4v1400794312941', width='100%', height=450, frameborder=0)

  p.mt#hours
    strong(style='color:#668CB3') emBassy opening hours in blue
    br
    strong(style='color:#F2A640') emBassy events in orange

  iframe(src='https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vm7m26bunm22tu2tj3aim5k86c%40group.calendar.google.com&amp;color=%23BE6D00&amp;src=974uer69pjtb3vjeh5tt2gqn48%40group.calendar.google.com&amp;color=%2329527A&amp;ctz=Asia%2FJerusalem', width='100%', height='600', frameborder='0', scrolling='no')

  p: a.white-button(href='reserve') Reserve the emBassy
