nav.site-navigation.main-navigation(role='navigation')
  h1.assistive-text Menu
  .assistive-text.skip-link
    a(href='#conlandscapet', title='Skip to conlandscapet') Skip to conlandscapet
  .menu-main-menu-container
    ul#menu-main-menu.menu
      li.menu-item: a(href='/') Home
      li.menu-item
        a(href='about/') About
        ul.sub-menu
          li.menu-item: a(href='about/') Team
          li.menu-item: a(href='gallery/') Gallery
          li.menu-item: a(href='manifest/') Manifest
          li.menu-item: a(href='press/') Press
      li.menu-item
        a(href='services/') Services
        ul.sub-menu
          li.menu-item: a(href='services/') Embassy Services
          li.menu-item: a(href='course/') Bitcoin Course
          li.menu-item: a(href='reserve/') Reserve the emBassy
      li.menu-item
        a(href='resources/') Resources
        ul.sub-menu
          li.menu-item: a(href='reach-us/#hours') Embassy Events
          li.menu-item: a(href='http://www.bitcoinspaces.org/') Bitcoin Venues
      li.menu-item
        a(href='reach-us/') Reach Us
        ul.sub-menu
          li.menu-item: a(href='reach-us/') emBassy in Tel Aviv
          li.menu-item: a(href='reach-us/') Contact
          li.menu-item: a(href='donate/') Donate
      li.menu-item: a(href='http://bitcoinaverage.com/#USD')
        | ₪ 
        span#ticker-ils  …טוען
        |  / $ 
        span#ticker-usd  Loading…
