nav.site-navigation.main-navigation(role='navigation')
  a#main-nav-toggle.nav-icon
  h1.assistive-text Menu
  .assistive-text.skip-link
    a(href='#conlandscapet', title='Skip to conlandscapet') Skip to conlandscapet
  .menu-main-menu-container
    ul#menu-main-menu.menu
      li.menu-item: a(href='/') Home
      li.menu-item
        a(href='#') Info 
        a.nav-arrow-down
        ul.sub-menu
          li.menu-item: a(href='/faq') FAQ
          li.menu-item: a(href='/tips') Tips
      li.menu-item
        a(href='#') Activities 
        a.nav-arrow-down
        ul.sub-menu
          li.menu-item: a(href='socratic/') Socratic seminars
          li.menu-item: a(href='https://github.com/bitembassy/home-node') Full node workshop

          //- ul.sub-menu
            li: a.nav-arrow-right Workshops
              ul.sub-menu
                li.menu-item: a(href='https://github.com/bitembassy/home-node') Domestic full node
            li.menu-item: a(href='socratic/') Socratic seminars 
      li.menu-item: a(href='reach-us.html') Reach us
      li.menu-item: a(href='donate.html') Donate

  nav#sub-nav
    span.menu-item(title="Live rate").btc BTC/BTC: 1.00
    img.menu-item(style='vertical-align: middle; margin: 0 21px ', src='img/logo-inverted.png', width='35')

//-
  li.menu-item
    a(href='about.html') About
    ul.sub-menu
      li.menu-item: a(href='about.html') Team
        li.menu-item: a(href='gallery.html') Gallery
      li.menu-item: a(href='manifest.html') Manifest
      li.menu-item: a(href='press.html') Press
      //- li.menu-item
        a(href='reserve.html') Services
        ul.sub-menu
          //-
            li.menu-item: a(href='services.html') Embassy Services
            li.menu-item: a(href='course.html') Bitcoin Course
          li.menu-item: a(href='reserve.html') Reserve the emBassy
      //-li.menu-item
        a(href='resources/') Resources
        ul.sub-menu
          //- li.menu-item: a(href='reach-us.html#hours') Embassy Events
