nav.site-navigation.main-navigation(role='navigation')
  h1.assistive-text Menu
  .assistive-text.skip-link
    a(href='#conlandscapet', title='Skip to conlandscapet') Skip to conlandscapet
  .menu-main-menu-container
    ul#menu-main-menu.menu
      li.menu-item: a(href='/') Home
      li.menu-item
        a(href='about.html') About
        ul.sub-menu
          li.menu-item: a(href='about.html') Team
          li.menu-item: a(href='gallery.html') Gallery
          li.menu-item: a(href='manifest.html') Manifest
          li.menu-item: a(href='press.html') Press
      li.menu-item
        a(href='services.html') Services
        ul.sub-menu
          li.menu-item: a(href='services.html') Embassy Services
          li.menu-item: a(href='course.html') Bitcoin Course
          li.menu-item: a(href='reserve.html') Reserve the emBassy
      li.menu-item
        a(href='resources/') Resources
        ul.sub-menu
          li.menu-item: a(href='reach-us.html#hours') Embassy Events
      li.menu-item
        a(href='reach-us/') Reach Us
        ul.sub-menu
          li.menu-item: a(href='reach-us.html') emBassy in Tel Aviv
          li.menu-item: a(href='reach-us.html') Contact
          li.menu-item: a(href='donate.html') Donate
      li.menu-item: a(href='http://bitcoinaverage.com/#USD')
        | ₪ 
        span#ticker-ils  …טוען
        |  / $ 
        span#ticker-usd  Loading…
