- posts = site.categories.findOne({name: page.category}).posts.sort('date', -1)

article.hentry

  header.entry-header
    h1.entry-title= page.title || page.category

  != page.content

  .entry-content
    .split
      .left: h2 Seminars:
      .right.hebrew: h2 סמינרים:

  hr.floatclear

  .entry-content
    ul
      each post in posts.toArray()
        li: a(href=post.path)= post.title
