article.hentry

  header.entry-header
    h1.entry-title= page.title

  .entry-content!= page.content
  
  | To edit the page, create a PR on 
  a(href = config.github_path + page.source) our Github.
