---
layout: home
title: שגרירות הביטקוין
---

#content.site-content(role='main')
  article#post-7.post-7.page.type-page.status-publish.hentry
    .entry-content
      p(dir='rtl', style='text-align: center;')
        a.hebrew(href='reach-us/#hours') שימו לב לשעות הפתיחה!
      hr.floatclear
      .split
        .left.hebrew: p.
          ברוכים הבאים לכלכלה החדשה #[br]
          כאן תוכלו לשאול, לשתף ולדבר #[br]
          אודות המטבע הדיגיטלי המבוזר. #[br]
          אנחנו קוד חברתי פתוח, כנסו. #[br]
          #[a(style='font-size: 0.7em; color: #000 !important;', href='donate', target='_blank') כאן מכבדים ביטקוין]
        .right: p.
          Welcome to the new economy #[br]
          Here you can ask, share and talk #[br]
          new decentralized cryptocurrency #[br]
          This is an open source community #[br]
          #[a(style='font-size: 0.7em; color: #000 !important;', href='donate', target='_blank') Bitcoin accepted]

      hr.floatclear
      p.center: a(href='about/')
        img.size-thumbnail.wp-image-35(src='img/header.png', alt='Read about the Bitcoin emBassy', width='170', height='75')
        | #[br]Learn more
