---
title: Reach Us
alias: reach-us/index.html
---

.center
  p
    a.white-button(href='mailto:info@bitembassy.org') Contact
    = ' '
    a.white-button(href='donate.html') Donate

  p Ahuzat Bayit Street, 1<br>Tel Aviv

  iframe(width="100%", height="450", frameborder="0", scrolling="no", marginheight="0", marginwidth="0", src="https://www.openstreetmap.org/export/embed.html?bbox=34.77016881108285%2C32.06452328820144%2C34.77076023817063%2C32.06491595504573&amp;layer=cyclemap&amp;marker=32.064719621834314%2C34.77046452462673")
  small
    a(href="https://www.openstreetmap.org/?mlat=32.06472&amp;mlon=34.77046#map=21/32.06472/34.77046&amp;layers=C") View Larger Map

  p.mt#hours
    strong.hebrew(style='color:#668CB3')
      span.
        למידע על שעות פתיחה נא צרו קשר בטלפון:&nbsp;
      a(href='tel:+97235440242') 03-544-0242
    br
    strong(style='color:#668CB3')
      span For information about opening hours please call us at:&nbsp;
      a(href='tel:+97235440242') +972-3-544-0242

  //-
      br
      strong(style='color:#F2A640') emBassy events in orange

    iframe(src='https://www.google.com/calendar/embed?showTitle=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=vm7m26bunm22tu2tj3aim5k86c%40group.calendar.google.com&amp;color=%23BE6D00&amp;src=974uer69pjtb3vjeh5tt2gqn48%40group.calendar.google.com&amp;color=%2329527A&amp;ctz=Asia%2FJerusalem', width='100%', height='600', frameborder='0', scrolling='no')

    p: a.white-button(href='reserve.html') Reserve the emBassy
